@media(max-width: 1400px) {
  section.top .menu .second .col-lg-4.col-md-4.col-sm-12.col-xs-12 {
    padding: 0 5%;
  }
}

@media(max-width: 1199px) {
  section.work .container-fluid .box-info .content-info {
    padding: 0 35px;
  }
  section.work .container-fluid .box-info .content-info h4 {
    line-height: 24px;
    font-size: 15px;
  }
}

@media(max-width: 1091px) {
  section.strategy {
    .box-strategy {
      padding: 0 23px;
    }
  }
}

@media(max-width: 1075px) {
  section.question {
    text-align: center;
    h3, button {
      float: none;
    }
  }
}

@media(max-width: 992px) {
  section.top {
    .menu {
      .first {
        ul {
          &.navi {
            padding: 0;
            padding-top: 55px;
            padding-bottom: 50px;
            li {
              display: block;
              text-align: center;
              padding: 20px 0;
            }
          }
        }
      }
      .second {
        padding: 0 0;
        ul {
          display: none;
        }
        .box-menu {
          border-bottom: 1px solid;
          padding: 50px !important;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .footer {
    display: block;
    .box-footer {
      margin: 10px 0;
    }
  }
  section.strategy {
    .box-strategy {
      padding: 0 30px;
    }
  }
}

@media(max-width: 768px) {
  section.top, section.pagination {
    padding: 0 15px !important;
  }
  section.header {
      .header-content {
        h1 {
          font-size: 40px!important;
          line-height: 48px!important;
          width: 100%!important;
        }
      }
    }
    section.work {
      .container-fluid {
        .box-info {
          .content-info {
            padding: 130px 25px;
          }
        }
      }
    }
    .footer {
      text-align: center;
      .box-footer {
        margin: 50px 0;
      }
      .data-company-content {
        img {
          margin: 0 auto;
          margin-bottom: 17px;
        }
      }
    }

    section.strategy {
      .box-strategy {
        min-height: 0px;
        margin-bottom: 50px;
        padding: 0 20px;
      }
    }
}


@media(max-width: 550px) {
  section.header {
    .header-content {
      h1 {
        font-size: 25px!important;
        line-height: 34px!important;
        letter-spacing: 3px!important;
      }
    }
  }
  section.news {
    h4 {
      text-align: center;
    }
    .clients {
      .logo {
        width: 50%;
      }
    }
  }
  .testimonials {
    .my-slider {
      ul {
        li {
          .logo-testimonials {
            img {
              display: block;
              margin: 0 auto;
              max-width: 100%;
            }
          }
          .desc-testimonials {
            p {
              text-align: justify;
            }
          }
        }
      }
    }
  }
  .unslider-arrow {display: none;}
}



@media(max-width: 330px) {
  section.news {
    .clients {
      .logo {
        width: 100%;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
